/**
 * @author Sukhitha Amarakoon (samarakoon@virtusa.com)
 */
package {{package}};

import com.google.gson.Gson;
import org.springframework.stereotype.Service;
import org.bian.dto.*;

{{#operations}}
@Service
public class {{classname}}ServiceImpl implements {{classname}}Service {
	private Gson gson = null;
	
	public {{classname}}ServiceImpl() {
		gson = new Gson();
	}

{{#operation}}
	public {{returnType}} {{{actionTermCamelCase}}}(String id, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
		return gson.fromJson("{{#examples}}{{#lambdaRemoveLineBreak}}{{#lambdaEscapeDoubleQuote}}{{{example}}}{{/lambdaEscapeDoubleQuote}}{{/lambdaRemoveLineBreak}}{{/examples}}", {{returnType}}.class);
	}

{{/operation}}
}
{{/operations}}
